.navbar{
   background-color:     #8eb533 ;
}
.navbar h3{
    color: white;
}
.logo img{
    height: 80px;
    float: left;   
    margin-top: 10px;
}
.logo a 
{   
    align-items: center;
}

.navbar .navbar-nav .nav-item 
{
    padding: 5px;
}